body {
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Lato', sans-serif;
}

#searchArea {
  background: url(../assets/search.svg) no-repeat scroll 99% 10px;
  background-size: 1.5%;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #E7E7E7;
  margin-bottom: 1%;
  padding-left: 1%;
}

header div {
  text-align: center;
}

header h1 {
  color: #D04F4F;
  margin-top: 0;
  font-family: sans-serif;
}

#tagContainer {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
}

.tag {
  border-radius: 5px;
  padding: 1%;
  margin-right: 1%;
}

#select {
  text-align: left;
}

.fa-times-circle {
  padding-left: 1%;
}

#ingredients, #appareil, #ustensiles {
  border: none;
  border-radius: 5px;
  color: white;
  height: 50px;
  width: 20%;
  padding-left: 1%;
  margin-right: 1.5%;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 2%;
  font-weight: bold;
}

#ingredients {
  background-color: #3282F7;
}

#appareil {
  background-color: #68D9A4;
}

#ustensiles {
  background-color: #ED6454;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2%;
}

.recipeCard {
  width: 30%;
  height: 350px;
  background-color: #E7E7E7;
  border-radius: 5px;
  margin-bottom: 3%;
  overflow: hidden;
  cursor: pointer;
}

.recipeCard img {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.recipeCard .ligne1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
}

.recipeCard .ligne1 h2 {
  font-size: 17px;
  width: 70%;
}

.recipeCard .ligne1 span {
  font-weight: bold;
}

.recipeCard .ligne2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  height: 32%;
  overflow: hidden;
}

.recipeCard .ligne2 p {
  font-family: 'Roboto', sans-serif;
  width: 50%;
  margin: 0;
  font-size: 13px;
  height: 80%;
  overflow: hidden;
  text-align: justify;
  font-style: italic;
}

.recipeCard .ligne2 ul {
  padding: 0;
  margin: 0;
  width: 40%;
  height: 80%;
  overflow: hidden;
}

.recipeCard .ligne2 li {
  list-style: none;
  font-size: 13px;
  font-weight: 500;
}

.recipeCard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 5px 10px 14px -6px rgba(0, 0, 0, 0.78);
          box-shadow: 5px 10px 14px -6px rgba(0, 0, 0, 0.78);
}

@media screen and (max-width: 950px) {
  #searchArea {
    background: none;
    background-color: #E7E7E7;
  }
  .recipeCard {
    width: 45%;
    margin-bottom: 7%;
    border-radius: 10px;
  }
}

@media screen and (max-width: 655px) {
  select {
    display: none;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recipeCard {
    width: 100%;
    margin-bottom: 7%;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=style.css.map */